bin/com
lib/Sarkie-mtpfix/
lib/Sarkie-mtpfix/
lib/android.jar/
lib/javaFlacEncoder-0.3.1-all/
lib/jmtp/
lib/jusbpmp-0.1.5/
.settings
.classpath
.project
lib/android.jar
netampg.jar
lib/javaFlacEncoder-0.3.1-all.tar.gz
/bin/
build/*.jar
/class/
/classes/
_archive
samples
docs
lib/jave-1.0.2
conf/*.properties
